        #div {
            display: flex;
            justify-content: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            background-color: brown;
        }
        
        #hed {
            display: flex;
            align-items: center;
            color: rgb(21, 226, 226);
            background-color: brown;
        }
        
        #container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 200px;
            height: 20px;
        }
        
        * {
            padding: 0px;
            background-color: rgb(0, 8, 8);
        }
        
        #div1 {
            padding: 00px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        #par {
            color: green;
            font-size: 40px;
            padding-top: 0px;
        }